
  #block{
    border-top: 3px solid blue;
    border-bottom:3px solid blue;
    margin: 20px;
  }
  .ready{ 
    border-top: blue;
  }
  .better{
    padding: 10px;
    height: 650px;
    width: 780px;
    margin: 50px;
  }
  img:hover {
    cursor: pointer;
  }
  .project{
    height: 600px;
    width: 600px;
  }
.tech{
  float: left;
  color: red;
  padding: 5px;
  display: block;
}
  