h4{
    text-align: left;
    float: left;
    color: black;
}

.container{
    border-top: 3px solid red;
    margin-top: 20px;
    margin-left: 230px;
}
#no{
    border: none;
}
.cell{
    height: 500px;
    width: 500px;
}